<!-- <nav class="navbar navbar-expand-sm bg-light navbar-white"> -->
<nav class="navbar navbar-expand-md fixed-top navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/logo.png" class="logo_main" alt="Logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#collapsibleNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            >Admission</a
          >
        </li>
        <li class="nav-item login">
          <a
            class="nav-link"
            routerLink="/selectUser"
            routerLinkActive="active"
          >
            Login
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
