<div class="container-fluid">
  <i class="fa fa-arrow-circle-left" aria-hidden="true" (click)="goback()"></i>
  <div class="row">
    <div class="col-lg-4 col-md-6 mx-auto d-block">
      <div class="bg_image" (click)="student()">
        <h3 class="text-center">Student</h3>
        <img
          src="../../../../assets/student.svg"
          class="rounded mx-auto d-block"
          alt="student"
        />
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mx-auto d-block">
      <div class="bg_image" (click)="staff()">
        <h3 class="text-center">Staff</h3>
        <img
          src="../../../../assets/staff.svg"
          class="rounded mx-auto d-block"
          alt="staff"
        />
      </div>
    </div>
  </div>
</div>
