/* --------------------Dynamic CSS------------ */
h1 {
  font-size: 24px;
  color: #535461;
}
/* ------------- Default Neumorphism of Cards ------------ */
.card {
  border: none;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #f0c27d;
  -webkit-box-shadow: 12px 12px 24px #ceb274, -12px -12px 24px #fff09e;
  box-shadow: 12px 12px 24px #ceb274, -12px -12px 24px #fff09e;
}
/* ------------------ Welcome Dash Navbar ------------------ */
.welcome {
  width: 100%;
  margin: 0;
  display: -webkit-inline-box;
  background: url(../../../../assets/dash_card.svg) no-repeat,
    url(../../../../assets//dashboard_bg_wave.svg) no-repeat;
  background-size: contain, cover;
  background-position: center right, bottom;
}
.welcome .avatar {
  width: 10%;
  border: 4px solid #e37d47;
  padding: 4px;
}
/* -----------------  Grid Cards ----------------------------- */
.grid_card .bg-image {
  height: 128px;
  padding: 16px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 12px 12px 24px #ceb274, -12px -12px 24px #fff09e;
  box-shadow: 12px 12px 24px #ceb274, -12px -12px 24px #fff09e;
  background: url(../../../../assets/total_cards.svg) no-repeat;
  background-position: center right;
  background-size: contain;
}
.grid_card .bg-image h6 {
  color: #535461;
  font-size: 14px;
  font-weight: 600;
}
.grid_card .bg-image h5 {
  position: absolute;
  bottom: 24px;
  color: #e37d47;
  font-weight: 600;
}
.grid_card .bg-image:hover {
  transform: scale(1.1);
}
.grid_card .bg-image .btn-outline {
  margin-top: 36px;
  border: 2px solid #e37d47;
  color: #e37d47;
  font-size: 12px;
  font-weight: 600;
}
.grid_card .bg-image .btn-outline:hover {
  background-color: #e37d47;
  color: #535461;
}
/* Search */
.form-inline input {
  width: 64%;
  background: #fff;
}
.form-inline button,
.export {
  font-weight: 500;
  border: 2px solid #535461;
  color: #535461;
}
.form-inline button:hover {
  background-color: #535461;
  color: #fff;
}
.export:hover {
  background-color: #535461;
  color: #fff;
}
.true {
  transform: rotate(180deg);
}
/* Demo Student Update Form CSS */
/* Forms */
.form-inline {
  align-items: baseline;
}
.form-inline > .form-group {
  width: 50%;
  padding: 0px 8px;
  margin-bottom: 16px;
}
.form-inline .form-group > div > label {
  font-weight: 600;
  font-size: 14px;
  color: #535461;
  justify-content: start;
  padding-left: 8px;
}
.form-inline .form-group > .is-invalid label {
  color: #dc3545;
}
.form-inline .form-group > div,
.form-inline .form-group > div > input,
.form-inline .form-group > div > select,
.form-inline .form-group > div > textarea {
  width: 100%;
  color: #535461;
  font-weight: 600;
}
.form-inline .form-group > div > input,
.form-inline .form-group > div > select,
.form-inline .form-group > div > textarea {
  border: 2px solid #535461;
}
.form-inline .form-group .form-control.is-invalid,
.form-inline .form-group .custom-select.is-invalid {
  border-color: #dc3545;
}
.custom-select.is-invalid,
textarea.form-control.is-invalid {
  /* border: 2px solid #dc3545; */
  background: none;
}
@media only screen and (max-width: 992px) {
  .hidden {
    display: none !important;
  }
}

.text_restore {
  color: #495057;
}

h3 {
  border: 2px solid #a62c2b;
  padding: 16px;
  border-radius: 8px;
  font-family: "Roboto Slab", serif;
  background-color: #e37d47;
  color: #fff;
  font-weight: 600;
}

/*************Restore Modal*************/
button.btn.btn-secondary.no-button,
button.btn.btn-primary.yes-button {
  color: #fff;
  border: 2px solid #fff;
}

button.btn.btn-secondary.no-button:hover {
  background-color: red;
}

button.btn.btn-primary.yes-button:hover {
  background-color: green;
}

/*************Delete Modal*************/
button.btn.btn-secondary.yes-button,
button.btn.btn-primary.no-button {
  color: #fff;
  border: 2px solid #fff;
}

button.btn.btn-secondary.yes-button:hover {
  background-color: red;
}

button.btn.btn-primary.no-button:hover {
  background-color: green;
}
/* .tab_item .nav-link {
  font-size: 14px;
} */
marquee {
  background-color: #e37d47;
  margin-bottom: 10px;
  font-weight: 500;
}
